
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');


html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    scroll-behavior: smooth;  
    font-family: "Kanit", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    zoom: 90%;
   
}
*,*::before,*::after {
    box-sizing: border-box;
}


body {
    background: wheat;
    background-size: cover;
    
  }
.header{
    background: linear-gradient(to left, #32404D ,white );
    display: flex;
    flex-direction: row;
    
}

.logo{
   width: 3rem;
   height: 3rem;
   margin-left: 1rem;

}
.site-name{
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: bolder;
    color: #32404D;
    position: relative;
    top: -1rem;
    font-family: "Kanit", serif;

}
#google_translate_element{
  
    margin-left: 40rem;
    display: block; 
}
#hamburger{
    position: absolute;
    bottom: -2rem;
    top: 0.5rem; 
    color:  #fff;
    display: none;
    right: 1rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.menu-icon {
    width: 30px; 
    height: 30px;
}


.menu {
    justify-content: space-between;
    display: flex;
    gap: 20%;
    width: 100%; 
    padding: 0 20px;
    background-color: #6E4E37;
     
}
    
.menu-list{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-family: "Kanit", serif;
    color: #ffff;
    position: relative;
  

}
  
.menu-list li {
    position: relative;
    padding: 10px 15px;
    cursor: pointer;
    display: flex; 

}

.menu ul {
    list-style: none;
    padding: 20px;
    gap: 60%;
    left: 7%;
  
  }
  
  .menu ul li {
    padding: 10px 0;
  
  }

  .menu-list li a {
    text-decoration: none;
}

  .sidebar {
    width: 20%;
    background-color: #32404D;
    color: white;
    height: 100vh;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 2000;
    transition: transform 0.5s ease-in-out;
}



.sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.sidebar p {
    font-size: 0.8rem;
    margin-top: 90px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul div {
    padding: 10px;
    cursor: pointer;
    gap: 10px;
    display: flex;
}
.sidebar ul div a {
    color: #fff; 
    text-decoration: none; 
    
}
.sidebar ul div span {
    font-size: 17px;
}
.sidebar ul div a:hover {
    color: #ccc; 
}

.sidebar ul div:hover {
    background-color: #6E4E37;
}
.sidebar.show {
    transform: translateX(0); /* ShowS menu */
  }
  .sidebar-submenu {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: none;
    color: #fff;
    border-left: 0px solid #007bff;
}

.sidebar-submenu li {
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.sidebar-submenu li a {
    color: black;
}

.sidebar-submenu li:hover {
    background: #e3e3e3;
}

.dropdown-arrow {
    transition: transform 0.3s ease-in-out;
    font-size: 15px !important;
   display: none;
}

.sidebar-dropdown.open .dropdown-arrow {
    transform: rotate(180deg);
}

.sidebar-dropdown.open .sidebar-submenu {
    display: block;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    min-width: 200px;
    border-radius: 5px;
    z-index: 1000;
}

.hovermenu:hover .submenu {
    display: block;
}

.submenu li {
    padding: 10px 15px;
    white-space: nowrap;
    display: flex;
    gap: 10px;
}
.submenu li span.material-symbols-outlined {
    margin-right: 10px;
    font-size: 20px;
    color: #32404d; 
}

.submenu li:hover {
    background: #f5f5f5; 
}





/*body content & intro advert section starts here*/
.intro-section{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    margin-top: 0%;
    
}
.intro-video{
    flex: 1;
    display: flex;

}
.intro-video video {
    width: 100%; 
    height: auto; 
   
    object-fit: cover;

}

.intro-txt {
    flex: 1;
    padding-left: 20px;
    text-align: left;
}
.intro-txt h1 {
    font-size: 2.3rem; 
    font-weight: bold;
    color: #32404D;
}
#typing-text::after {
    content: "|";
    display: inline-block;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
.text-section1 {
    display: flex;        
    justify-content: center; 
    align-items: center;     
    height: 0vh;
    text-align: center;
    margin-top: 20%;  
     margin-bottom: 10%; 
}

.text1-header h1 {
    font-size: 3rem;  
    font-weight: bold;
}

.whychooseUs-section{
    display: grid; 
    grid-template-columns: repeat(3, minmax(250px, 1fr)); 
    gap: 20px;
    padding: 40px;
}
.whychooseUs-section div{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: start;
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}
.whychooseUs-section div h3 {
    font-family: "Arsenal SC", serif;
    font-weight: 400;
    font-style: normal;
 
    
}
.whychooseUs-section div:nth-child(10){
   align-self: center;
  position: relative;
  left: 100%;
}
.whychooseUs-section div h1{
    font-size: 1.5rem;
    color: #6E4E37;
}

.whychooseUs-section div h1 span {
    color: #32404d; 
}


@keyframes slideLeft {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .scroll-reveal.visible {
    opacity: 1;
    transform: translateX(0);
}



/* Border colors */
.whychooseUs-section div:nth-child(1) { border: 3px solid red; }
.whychooseUs-section div:nth-child(2) { border: 3px solid rgb(187, 255, 0); }
.whychooseUs-section div:nth-child(3) { border: 3px solid pink; }
.whychooseUs-section div:nth-child(4) { border: 3px solid rgb(189, 189, 0); }
.whychooseUs-section div:nth-child(5) { border: 3px solid rgb(0, 189, 94); }
.whychooseUs-section div:nth-child(6) { border: 3px solid rgb(0, 183, 189); }
.whychooseUs-section div:nth-child(7) { border: 3px solid rgb(231, 30, 164); }
.whychooseUs-section div:nth-child(8) { border: 3px solid rgb(0, 189, 173); }
.whychooseUs-section div:nth-child(9) { border: 3px solid rgb(88, 0, 189); }
.whychooseUs-section div:nth-child(10) { border: 3px solid rgb(0, 129, 189); }




.Manage-flexible-plans{
    display: grid; 
    grid-template-columns: repeat(2, minmax(300px, 1fr)); 
    gap: 30px;
    padding: 10px;
   
}

.Manage-flexible-plans div:nth-child(1){
    background-color: #32404D;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;

}
.Manage-flexible-plans div:nth-child(1):hover {
    transform: scale(0.9);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.Manage-flexible-plans div:nth-child(2){
    background-color: #6E4E37;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}
.Manage-flexible-plans div:nth-child(2):hover {
    transform: scale(0.9);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.Manage-flexible-plans  div h2{
    font-size: 1.5rem;
    letter-spacing: 2px

}
.learn-more-btn1,.learn-more-btn2{
    display: inline-block;
    background-color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
    transition: transform 0.3s ease-in-out, background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.learn-more-btn1:hover, .learn-more-btn2:hover {
    transform: scale(0.8);
}
.Manage-flexible-plans div{
    opacity: 0;
    transform: translateX(-100px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}


.reviews-head-text{
    display: flex;
    padding-left: 15%;
    font-size: 1.5rem;
    letter-spacing: 3px;
    margin: 0px;
    margin-bottom: 3rem;
    background-color: #b2c1cf;
    color: white;
    border-radius: 50px;
  
  
}

.customer-reviews {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 20px 0;
    padding: 10px;
    background-color: #f1f3f5;
}


.reviews-section{
    background-color:#32404D;
    color: white;
    padding: 20px;
    margin: 130px;
    border: 5px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    width: 100%; 
    white-space: normal;   
    word-wrap: break-word;
    
} 
   
.carousel-container {
    overflow: hidden;
    width: 100%; 
    padding: 0 5px;
  }
  
  .carousel {
    display: flex; 
    transition: transform 0.3s ease-in-out;
  }

  .reviews-image {
    width: 500px;
    height: 200px;
    border-radius: 50%;
    object-fit: contain;
    margin-bottom: 1rem;
}
.dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
    
  .dot.active {
    background-color:#32404D;
  }


.footer{
    background-color: #32404d;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr)); 
    padding: 40px;
    margin-top: 10%;
    
}
.footer-section ul li a {
color: #fff;
text-decoration: none;
}

.footer-section ul li {
    display: flex;
    gap: 10px;
  }
.footer-section h3 {
    position: relative;
    left: 40px;
}
.footer-section.payment {
    text-align: center;
    margin-top: 20px;
}

.footer-section.payment h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer-section.payment img {
    width: 50px; 
    height: auto;
    margin: 5px 10px;
    transition: transform 0.3s ease-in-out;
}

.footer-section.payment img:hover {
    transform: scale(1.1); 
}
  @media (min-width: 921px)and  (max-width: 1300px){
    .site-name{
        font-size: 2.5rem;
        top: -1rem;
       
    }
    .logo{
        width: 4rem;
        height: 4rem; 
    }
    #google_translate_element{
        margin-left: 2rem;
    }
    .menu {
        display: none;
       

    }
    .text1-header h1{
        font-size: 2.5rem;
    }
    .sidebar {
        text-align: start;
        transform: translateX(-100%);
        width: 50%;
        height: 200vh;
        display: block;
    }
    .reviews-head-text{
        font-size: 1.5rem;
        margin-top: 0%;
        padding-left: 8%;
         
    }
    .whychooseUs-section {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
    }
    #hamburger{
        bottom: -1.5rem; 
        right: 1rem;
        font-size: 3rem;
        display: flex;
        top: 0.1rem;
       
    }
    .intro-section {
          margin-top: 0%;
    }
 

  }

  @media (max-width: 910px) {
    .site-name{
        font-size: 2rem;
        top: -1rem;
    }
    .logo{
        width: 4rem;
        height: 4rem; 
    }
    #google_translate_element{
        margin-left: 2rem;
    }
    #hamburger{
        bottom: -1.5rem; 
        right: 1rem;
        font-size: 3rem;
        display: flex;
        top: 0.1rem;
       
    }
    .whychooseUs-section {
        grid-template-columns: repeat(1, minmax(290px, 1fr));
    }
    .text1-header h1{
        font-size: 2.2rem;
    }
    .menu{
        display: none;
    }
    .sidebar {
        text-align: start;
        transform: translateX(-100%);
        width: 50%;
        height: 200vh;
        display: block;
    }
    .intro-section {
        flex-direction:column;
          margin-top: 0%;
    }
    .intro-video video {
        width: 100%;
        height: auto;
    }
    
.Manage-flexible-plans{

    grid-template-columns: repeat(1, minmax(290px, 1fr)); 

}
.footer{
    grid-template-columns: repeat(2, minmax(250px, 1fr)); 
        padding: 20px; 
}

.customer-reviews{
    display: flex;
   margin-top: 30%;
    
 }
 .reviews-image {
    width: 42rem;
    height: 20rem;
    margin-bottom: 1rem;
}
 
.carousel-container {
    overflow: hidden; 
    width: 100%; 
    padding: 0 5px;
  }

  .carousel {
    display: flex; 
    transition: transform 0.3s ease-in-out;
  }

  .reviews-section {
    min-width: 90%; /* Each card takes full width of the viewport */
    box-sizing: border-box;
    padding: 20px;
    margin-right: 10px;
    overflow: hidden;
    margin: 8px;
    height: 500px;

  }

  .dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .reviews-head-text{
    font-size: 2rem;
    margin-top: 0%;
    padding-left: 8%;
     
}
.learn-more-btn3{
  
    left: 27rem;
    bottom: 100px;
  
   
   
}
.whychooseUs-section div:nth-child(10){
    left: 0%;
  }
  } 


  @media  (max-width: 650px){
    #hamburger {
        font-size: 2rem; 
        right: 1rem;
        top: 0.1rem;
         bottom: 0rem;
         display: flex;
    }
    .text1-header h1{
        font-size: 2rem;
       
    }
    .whychooseUs-section {
        grid-template-columns: repeat(1, minmax(290px, 1fr));
    }
    .logo {
        width: 2.5rem; 
        height: 2.5rem;
    }
    .site-name{
        font-size: 1.2rem;
        top: -0.8rem;
        margin-left: 2rem;
       
    }
    #google_translate_element{
     display: block;
      

    }
    .sidebar {
        text-align: start;
        transform: translateX(-100%);
        width: 50%;
        height: 200vh;
        display: block;
    }
    .menu{
        display: none;
    }
    .intro-section {
        flex-direction:column;
          margin-top: 0%;
    }
    .intro-video video {
        width: 100%;
        height: auto;
    }
    .sidebar {
        text-align: start;
        transform: translateX(-100%);
        width: 80%;
        height: 200vh;
        display: block;
    }
    .Manage-flexible-plans{

        grid-template-columns: repeat(1, minmax(290px, 1fr)); 
    
    }
    .footer{
        grid-template-columns: repeat(2, minmax(200px, 1fr)); 
        padding: 20px; 
    }
    
.customer-reviews{
    display: flex;
 }
 .reviews-image {
    width: 20rem;
    height: 14rem;
    margin-bottom: 1rem;
}
 
.carousel-container {
    overflow: hidden; 
    width: 100%; 
    padding: 0 5px;
  }

  .carousel {
    display: flex; 
    transition: transform 0.3s ease-in-out;
  }

  .reviews-section {
    min-width: 90%; /* Each card takes full width of the viewport */
    box-sizing: border-box;
    margin-right: 10px;
    overflow: hidden;
    margin: 5px;
    height: 500px;

  }

  .dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .reviews-head-text{
    font-size: 1.6rem;
    margin-top: 0%;
    padding-left: 8%;
     
}
.learn-more-btn3{
  
    left: 15rem;
    bottom: 20%;
   
}

.footer{
  justify-content: center;
    align-items: center;
}
.whychooseUs-section div:nth-child(10){
    left: 0%;
  }
  }



  @media  (max-width: 535px){
  #hamburger {
    font-size: 1.5rem; 
    top: 0.3rem;
    right: 1rem;
     bottom: 0rem;
     display: flex;
   
}
.text1-header h1{
    font-size: 1.5rem;
  
}
.whychooseUs-section {
    grid-template-columns: repeat(1, minmax(270px, 1fr));
    padding: 10px;
}
.whychooseUs-section div h3 {
    font-weight: 400;
    font-size: small;
    
}
.whychooseUs-section div h1{
    font-size: 1.5rem;
}

.logo {
    width: 2.5rem; 
    height: 2.5rem;
}
.site-name{
    font-size: 1rem;
    top: -0.7rem;
    margin-left: 2rem;
   
}
#google_translate_element{
    display: none;
    
}
.menu{
    display: none;
}

.sidebar {
    text-align: start;
    transform: translateX(-100%);
    width: 80%;
    height: 200vh;
    display: block;
}
.sidebar-submenu li a {
    font-size: 12px;  
}
.sidebar ul div a{
    font-size: 13px;
}
.intro-section {
    flex-direction:column;
      margin-top: 0%;
}

.intro-video video {
    width: 100%;
    max-height: 600px;
}
.intro-txt h1{
    font-size: 1rem;
}
.Manage-flexible-plans{

    grid-template-columns: repeat(1, minmax(270px, 1fr)); 
    padding: 10px;

}
.Manage-flexible-plans  div h2{
    font-size: 1.5rem;
}
.footer{
    grid-template-columns: repeat(1, minmax(200px, 1fr)); 
    padding: 20px; 
}

.customer-reviews{
    display: flex;
 }
 .reviews-image {
    width: 12rem;
    height: 12rem;
}
 
.carousel-container {
    overflow: hidden; 
    width: 100%; 
    padding: 0 5px;
  }

  .carousel {
    display: flex; 
    transition: transform 0.3s ease-in-out;
  }

  .reviews-section {
    min-width: 90%; /* Each card takes full width of the viewport */
    box-sizing: border-box;
    margin-right: 10px;
    overflow: hidden;
    margin: 8px;
    height: 400px;

  }

  .dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .reviews-head-text{
    font-size: 1rem;
    margin-top: 0%;
    padding-left: 8%;
    margin-bottom: -6rem;
     
}
.learn-more-btn3{
  
    left: -8rem;
    bottom: 30%;
    font-size: 12px;
    
}
.reviews-section p{
    font-size: 12px;
}
.whychooseUs-section div:nth-child(10){
   left: 0%;
 }
}




@media  (max-width: 365px){
    #hamburger {
      font-size: 1.5rem; 
      top: 0.3rem;
      right: 1rem;
       bottom: 0rem;
       display: flex;
     
  }
  .text1-header h1{
      font-size: 1.5rem;
    
  }
  .whychooseUs-section {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    padding: 10px;
}
.whychooseUs-section div h3 {
    font-weight: 400;
    font-size: small;
    
}


.whychooseUs-section div h1{
    font-size: 1rem;
}
  .logo {
      width: 2.5rem; 
      height: 2.5rem;
  }
  .site-name{
      font-size: 1rem;
      top: -0.7rem;
      margin-left: 2rem;
     
  }
  #google_translate_element{
      display: none;
      
  }
  .menu{
      display: none;
  }
  .sidebar {
    text-align: start;
    transform: translateX(-100%);
    width: 80%;
    height: 200vh;
    display: block;
}
.sidebar-submenu li a {
    font-size: 12px;  
}
.sidebar ul div a{
    font-size: 12px;
}

  .intro-section {
      flex-direction:column;
        margin-top: 0%;
  }
  
  .intro-video video {
      width: 100%;
      max-height: 600px;
  }
  .intro-txt h1{
      font-size: 1rem;
  }
  .Manage-flexible-plans{

    grid-template-columns: repeat(1, minmax(250px, 1fr)); 
    padding: 10px;

}
.Manage-flexible-plans  div h2{
    font-size: 1.5rem;
}
.Manage-flexible-plans  div p {
    font-size: 0.8rem;
}
.footer{
    grid-template-columns: repeat(1, minmax(200px, 1fr));
    padding: 20px; 
    margin-top: 50%;
}


.customer-reviews{
    display: flex;
    
  
 }
 .reviews-image {
    width: 20rem;
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 0rem;
}
 
.carousel-container {
    overflow: hidden; 
    width: 100%; 
    padding: 0 2px;
  }

  .carousel {
    display: flex; 
    transition: transform 0.3s ease-in-out;
  }

  .reviews-section {
    min-width: 90%; /* Each card takes full width of the viewport */
    box-sizing: border-box;
    margin-right: 10px;
    overflow: hidden;
    margin: 4px;
    margin-top: 20%;
    height: 400px;

  }

  .dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .reviews-head-text{
    font-size: 1rem;
    margin-top: 0%;
    padding-left: 10%;
    letter-spacing: 0px;
    
     
}
.learn-more-btn3{
  
    left: -8rem;
    bottom: 20%;
    font-size: 10p;
  
} 
.reviews-section p{
    font-size: 11px;
}


  }